.container{
    display: flex;
    gap: 10px;
    padding: 10px;
    justify-content: center;
    align-items: center;
}
.box{
    padding: 20px;
    background-color: blue;
}
@media(max-width:600px)
{
    .container{
        flex-direction: column;
    }
}