.menu {
    background-color: black;
    list-style: none;
    display: flex;
}

.menu li a {
    display: block;
    color: white;
    padding: 20px;
    
}

.menu li a:hover {
    background-color: gray;
}
